/**
DOCK
//________________________________________________________
*/
#dockVeil {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);	
	display:none;
	opacity:0;
	position:absolute;
	left:0px;
	bottom:0px;
	overflow:hidden;
	-webkit-transition: opacity 1s linear;
	transition: opacity 1s linear;
	z-index:2;
}

#dockContainer {
	display:block;
	position:fixed;
	bottom:0;
	width:768px;
	left:50%;
	margin-left:-384px;
	height:40px;
	padding:18px 18px 18px 18px;
	color:#FFF;
	background-color:#1A1A1A;
	z-index:3;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
#dockContainer ul {
	padding:0px 0px 0px 0px;
	margin:0px;
	border:none;
}
#dockContainer li {
	display:block;
	float:left;
	position:relative;
}

#dockContainer a {
	height:auto;
	cursor:pointer;
	display:block;
	text-transform:uppercase;
	background-repeat:no-repeat;
	background-position:inherit;
}
#dockContainer li.active{color:#CC0033;}
#dockContainer a:hover{color:#CC0033;}

.dockViewButton {
	margin:5px 0 0 0;
	padding:3px 3px 3px 0px;
	border-left:solid #666 1px;
}

#dockHomeButton {width:105px;background-position:-140px -60px;}
#dockHomeButton.active{
	background-position:-140px -80px;
}
#dockHomeButton a:hover{background-position:-140px -80px;}

#dockYearButton {width:90px;background-position:-160px -60px;}
#dockYearButton.active{background-position:-160px -80px;}
#dockYearButton a:hover{background-position:-160px -80px;}

#dockProductionButton {width:134px;background-position:-180px -60px;}
#dockProductionButton.active{background-position:-180px -80px;}
#dockProductionButton a:hover{background-position:-180px -80px;}

#dockMyArchiveButton {width:109px;background-position:-200px -60px;}
#dockMyArchiveButton.active{background-position:-200px -80px;}
#dockMyArchiveButton a:hover{background-position:-200px -80px;}

.dockViewIcon {
	margin:0px 10px 0px 15px;
	width:20px;
	height:20px;
	position:relative;
	display:block;
	background-image:url(../images/graphics.png);
	background-position:inherit;
	float: left;
}



#dockContainer .dockTitle {
	height:auto;
	width:60px;
	margin:5px 0 0 0;
	padding:3px 14px 3px 0px;
	display:block;
	text-transform:uppercase;
	background-color:#1A1A1A;
}

.dockSearch {
	width:170px;
	height:40px;
	padding:0 10px 0 10px;
	border-left:solid #666 1px;
	border-right:solid #666 1px;
}

.dockSearchIcon {
	width:20px;
	height:20px;
	position:absolute;
	top:11px;
	right:11px;
	display:block;
	background-image:url(../images/graphics.png);
	background-position:inherit;
	float: left;
}
#dockSearch a:hover{background-position:-220px -80px;}
#dockSearch a{background-position:-220px -60px;}

#dockSearchField {
	height:25px;
	width:145px;
	padding:0px 20px 0px 5px;
	margin:7px 0px 0px 0px;
	background:none;
	border:none;
	border-bottom:solid #666 1px;
	color:white;
	font-family:georgia;
	font-size:10pt;
	font-style:italic;
}

.dockInfoButton {
	margin:10px 0px 0px 15px;
}
.dockInfoIcon{
	height:22px;
	width:22px;
	color:#FFF;
	display:block;
	background-image:url(../images/graphics.png);
	background-position:inherit;
}
#dockInfoButton.active{background-position:-1px -67px;}
#dockInfoButton a:hover{background-position:-1px -67px;}
#dockInfoButton a{background-position:-1px -43px;}
/*
#dockContainer li:nth-child(12) a{
	padding-top:13px;
	padding-left:12px;	
}
#dockContainer li:nth-child(13) a{
	padding-top:12px;
	padding-left:0px;	
}

*/

#dockSubMenu {
	display:none;
	position:absolute;
	width:300px;
	height:auto;
	background:#FFF;
	bottom:75px;
	padding:0px;
	margin:0px 0px 0px -50px;
	/*-webkit-transition-property: opacity, bottom;*/
	/*-webkit-transition-duration: 0.5s;*/
}

#dockSubMenu li{
	display:block;
	margin:0px;
	float:none;
	height:44px;
	color:#000;
	font:Arial,Helvetica,  sans-serif;
	font-size:16px;
	font-weight:bold;
	background:#FFF;
}

#dockSubMenu li:nth-child(1){
	background:rgba(204,0,51,1);
	color:#FFF;
	padding:8px;
	height:28px;
}
#dockSubMenu li:nth-child(1) h2{
	margin:0px;
	float:left;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 17pt;
	color:#FFF;
	text-transform:uppercase;
	padding:2px 0px 0px 2px;
}
#dockSubMenu li:nth-child(1) a{
	float:right;
	margin:0px 44px 0px 0px;
	position:relative;
	
	background-color:#FFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	cursor:pointer;
}

#dockSubMenu li:nth-child(2){
	font-size:12px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	padding:10px;
	height:auto;
}

#dockSubMenu a{
	width:auto;
	height:auto;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 16pt;
	font-weight:bold;
	background-color:#FFF;
	color:#000;
	border:0px;
	padding:11px 7px 0px 44px;
	border-top:1px solid #CCCCCC;
	display:block;
	
}

.checkBoxDefault {
	background-image:url(../images/checkBoxDefault.png);
	background-repeat:no-repeat;
}
.checkBoxUnSelected {
	background-image:url(../images/checkBoxUnSelected.png);
	background-repeat:no-repeat;
}
.checkBoxSelected {
	background-image:url(../images/checkBoxSelected.png);
	background-repeat:no-repeat;
}

/*
@keyframes filterMenuOutAnimation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		
	}
	100% {
		opacity: 0;
		
	}
}
	
#filterMenuOutAnimation {
	animation-name: filterMenuOutAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes filterMenuInAnimation {
	0% {
		opacity: 0;
	
	}
	50% {
		opacity: 0.5;
		
	}
	100% {
		opacity: 1;
	
	}
}
	
#filterMenuInAnimation {
	animation-name: filterMenuInAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}


*/

#autoCompleteOutput
{
	font-family:georgia;
	font-style:italic;
	font-size: 10pt;
	color:black;
	padding:0px;
	position:relative;
	
}

.autoCompleteOver {
	background: #0091f7;
	background: -moz-linear-gradient(top, #0091f7 0%, #0068e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0091f7), color-stop(100%,#0068e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0091f7 0%,#0068e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0091f7 0%,#0068e8 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #0091f7 0%,#0068e8 100%); /* IE10+ */
	filter: progid:DXageTransform.Microsoft.gradient( startColorstr='#0091f7', endColorstr='#0068e8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #0091f7 0%,#0068e8 100%); /* W3C */
}
/*
#autoCompleteShadow
{
	background: #fff;
	width:151px;
	position:relative;
	max-height:200px;
	overflow:hidden;
	border: 5px solid #333333;
	-moz-border-radius: 5px;
	border-radius: 8px;
}
*/
#autoCompleteShadow
{
	background: #fff;
	width:151px;
	position:relative;
	max-height:222px;
	bottom:51px;
	overflow:hidden;
	border: 5px solid #FFF;
	visibility:hidden;
}

#autoCompleteOutput > div{
	position:relative;
	-webkit-tap-highlight-color:rgba(0,145,247,0.5);
	cursor:pointer;
	overflow:hidden;
	height:25px;
}

#autoCompleteOutput span{
	position:absolute;
	padding:5px;
	display:block;
	width:2000px;
}
#autoCompleteOutput > div:nth-child(1){
	border-top:0px;
}