@charset "UTF-8";
body {
	margin:0px;
	padding:0px;
	
}

/**
PLANE
//________________________________________________________
*/
#planeContainer {
	--left:400px;
	--top:300px;
	--width:400px;
	--height:300px;
	width:100%;
	height:100%;
	position:absolute;
	background-color:#000;
	--border:solid;
	--border-width:2px;
	--border-color:#000;
	margin:0px;
	padding:0px;
	overflow:hidden;
	z-index:1;
}
#plane {
	position:absolute;
	background-color:#F0F;
}
/*
#planeBorder {
	left:200px;
	top:200px;
	width:400px;
	height:300px;
	position:absolute;
	margin:0px;
	padding:0px;
	z-index:3;
	
	border:solid;
	border-width:2px;
	border-color:rgba(204,0,51,0.65);
	display:block;
}
*/
#interactivePlane {
	width:100%;
	height:100%;
	position:absolute;
	margin:0px;
	padding:0px;
	overflow:hidden;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.categoryCellContainer, .categoryVeilContainer {
	position:absolute;
	width:100%;
	min-width:700px;
	height:255px;
	margin:0px;
	padding:0px;
}

.categoryCellTilesContainer {
	position:absolute;	
}

.categoryCellTitleContainer {
	position:relative;
}

.categoryCellTitleBackground {
	height:83px;
	background-color:#FFF;
	position:absolute;
	top:1px;
	left:0px;
}

.categoryCellTitleBlockContainer{
	position:relative;
	color:#000;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	top:1px;
	left:1px;
	margin:0px;
	padding:0px;
	max-width:600px;
	background:#FFF;
	display:inline-block;
}

.categoryVeilContainer {
	background-color:rgba(0,0,0,0.666);
}

#category-scrubber-track {
	display:block;
	position:absolute;
	height:100%;
	width:42px;
	right:-42px;
	top:0px;
	background-color:rgba(0,0,0,0.5);
}

#category-scrubber-thumb {
	display:block;
	position:absolute;
	width:42px;
	height:86px;
	right:0px;
	top:0px;
	background-image:url(../images/categoryScrubberThumbOff.png);
}


/**
TILES
//________________________________________________________
*/
@-webkit-keyframes tileFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes tileHold {
	0% { opacity: 1; }
    100% { opacity: 1; }
}

.tile{
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	background-color:#212121;
	opacity:1;
	
}

.tile > .titleImage {
	width:inherit;
	height:inherit;
	opacity:0;
	-webkit-transition: opacity 0s linear;
}

.tile > .tileIcon{
	position:absolute;
	bottom:9px;
	right:9px;
	--top:0px;
	--left:0px;
	width:22px;
	height:22px;
}

.tile>.detail{
	color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	background:rgba(0,0,0,0.65);
	width:80px;
	display:block;
}
.tile>.tileBorder{
	border:solid;
	border-width:1px;
	border-color:#5B5B5B;
	width:111px;
	height:83px;
	position:absolute;
	top:0px;
	left:0px;
}




/**
OUTPUT
//________________________________________________________
*/
.output {
	display:block;
	position:absolute;
	width:auto;
	height:auto;
	padding:10px;
	color:#FFF;
	background-color:rgba(204,0,51,0.9);
	z-index:3;
}







.touchScrollPanelVerticleThumbContainer {
	height:100%;
	width:14px;
	position:absolute;
	right:0px;
	top:0px;
	overflow:hidden;
}
.touchScrollPanelVerticleThumb {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;	
}
.touchScrollPanelHorizontalThumbContainer {
	height:14px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	overflow:hidden;
}
.touchScrollPanelHorizontalThumb {
	height:100%;
	position:absolute;
	top:0px;
	left:0px;	
}
.touchScrollPanelThumbGraphics {
	background-color:black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	bottom:2px;
	left:2px;
	top:2px;
	right:2px;
	position:absolute;
	border:1px solid #CCC;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
-->



/**
VEIL
//________________________________________________________
*/
#veil {
	width:100%;
	height:100%;
	background-color:#000;
	display:none;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	z-index:3;
}

body {
	overflow:hidden;	
}

.veil-loader {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:none;
	z-index: 10;
	position: absolute;
	display:none;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.veil-loader-background {
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:none;
	background-color:#000;
	position: absolute;
	display:block;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.veil-loader-animated {
	width:32px;
	height:32px;
	margin:0;
	padding:0;
	border:none;
	background-image:url(../images/ajax-loader.gif);
	margin-left:-16px;
	margin-top:-16px;
	left:50%;
	top:50%;
	position:absolute;
	display:block;
}




/**
TOP NAV
//________________________________________________________
*/
#topNav {
	
	left:50px;
	top:0px;
	width:200px;
	position:relative;
	z-index:4;
}
#topNav a{
	color:#000;
	background-color:#FFF;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	position:absolute;
	display:block;
	left:83px;
	top:45px;
	
}




/**
ARTEFACT POPUP
//________________________________________________________
*/
#artefactPopup {
	position:absolute;
	width:320px;
	height:auto;
	background-color:#FFF;
	display:none;
	z-index:5;
	margin:0px;
	padding:25px;
}

#artefactPopup #artefactPopupTitle{
	margin-bottom:12px;
}

#artefactPopup ul{
	padding:0px;
	margin:0px;
	list-style:none;
	display:block;
}

#artefactPopup li {
	padding:0;
	margin:0;
	display:block;
	position:relative;
	float:left;
}




/**
ARTEFACT WINDOW
//________________________________________________________
*/
#artefactWindow {
	width:668px;
	height:536px;
	background-image:url(../images/323232.95.png);
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-359px;
	margin-top:-318px;
	padding:25px;	
	z-index:6;
}
#artefactWindowMediaView {
	position:relative;
	display:block;
	float:left;
	background-color:#000;
	overflow:hidden;
	width:448px;
	height:336px;
	padding:0px;
}
#artefactDetails {
	position:relative;
	display:block;
	float:left;
	width:190px;
	height:auto;
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	margin-left:25px;
}
#artefactDetails h2 {
	margin-top:0px;
	padding-top:0px;
	font-size:14px;
	font-weight:bold;
}

#artefactWindow ul {
	display:block;
	position:relative;
	padding:25px 0px 50px 0px;
	list-style:none;
	clear:both;
}

#artefactWindow li {
	padding:0;
	margin:0;
	display:block;
	position:relative;
	float:left;
}

.menuItem {
	background-color:#cc0033;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	display:block;
	margin-right:12px;
	cursor:pointer;
}

.closeButton {
	position:absolute;
	right:0px;
	top:0px;
	width:44px;
	height:44px;
}

.closeButtonBlack {
	background-image:url(../images/closeOff.gif);
}

.closeButtonWhite {
	background-image:url(../images/closeDown.gif);
}


.previousButton {
	position:absolute;
	left:-44px;
	top:50%;
	width:44px;
	height:44px;
	background-image:url(../images/graphics.png);
	-webkit-transition:left 0.5s;
}

.previousButtonBlack {
	background-position:-260px -60px;
}

.nextButton {
	position:absolute;
	right:-44px;
	top:50%;
	width:44px;
	height:44px;
	background-image:url(../images/graphics.png);
	-webkit-transition:right 0.5s;
}

.nextButtonBlack {
	background-position:-310px -60px;
}


#relatedArtefactsView {
	width:668px;
	height:85px;
	padding:0px;
	margin:0px;
}

#relatedArtefactsView .leftCarouselButton{
	width:47px;
	height:85px;
	position:relative;
	display:block;
	background-image:url(../images/carouselLeft.gif);	
	float:left;
	cursor:pointer;
}

#relatedArtefactsView .rightCarouselButton{
	width:47px;
	height:85px;
	position:relative;
	display:block;
	background-image:url(../images/carouselRight.gif);	
	float:left;
	cursor:pointer;
}

#relatedArtefactsFrame {
	width:574px;
	height:85px;
	position:relative;
	overflow:hidden;
	display:block;
	float:left;
}

#relatedArtefactsContainer {
	position:absolute;
	margin:0px;
	padding:0px;
	left:0px;
}

.relatedArtefactCell {
	position:absolute;
	width:113px;
	padding:0px;
	height:85px;
	display:block;
	opacity:1;
	-webkit-transition: opacity 0.5s ease;
}

.relatedArtefactCell a {
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:113px;
	height:85px;
	background-image:url(../images/carousel.gif);
	background-repeat:no-repeat;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	cursor:pointer;
	-webkit-transition: opacity 0.25s ease;
	
}

.relatedArtefactCell span {
	display:block;
	margin-top:85px;
	padding:0px 6px 6px 6px;
	background-color:rgba(204,0,51,1);
	color:#FFF;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.relatedArtefactCell a:hover{
	opacity:1;
	-webkit-transition: opacity 0.25s ease;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.relatedArtefactCell img{
	margin:0px;
	padding:0px;
	border:none;
}

.relatedArtefactCell p{
	margin:0px;
	padding:0px;
	font-size:12px;
	
}




/**
INFO WINDOW
//________________________________________________________
*/
#infoWindow {
	width:668px;
	height:536px;
	background-image:url(../images/323232.95.png);
	display:none;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-359px;
	margin-top:-318px;
	padding:25px;	
	z-index:7;
}

#infoWindow p{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

#infoWindow>h1{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
}

#infoWindow>h2{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	margin-top:40px;
	margin-bottom:50px;
}

#infoWindow h5{
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin-right:11px;
	display:inline;
}

#infoWindow .infoWindowText{
	width:320px;
	height:320px;
	overflow:hidden;
	float:left;
	position:relative;				/* seems to be important for the thumb to display right*/
	
}

#infoWindow .infoWindowText > div:first-child{
	position:absolute;				/* seems to be important for the thumb to display right*/
	padding-right:10px;
}


#infoWindowGraphic {
	width:320px;
	height:320px;
	background:#666;
	float:right;
}

#infoWindowViewOnStartupContainer {
	position:absolute;
	width:auto;
	right:20px;
	bottom:20px;
}



.generalText {
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

.generalText h2{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

.generalText h3, .generalText h4{
	color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-style:italic;
	margin:0px;
	padding:0px;
}

.generalText p{
	padding-top:0px;	
	margin-top:3px;
	margin-bottom:20px;
	line-height:20px;
}






/**
FULLSCREEN VIEW
//________________________________________________________
*/
#imageFullScreenView {
	position:absolute;
	display:none;
	left:0px;
	top:0px;
	background-color:#000;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:8;
}

#imageFullScreenMediaView {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	background-color:#000;
	overflow:hidden;
	width:100%;
	height:100%;
}

#full-screen-media-viewer {
	position:absolute;
	display:none;
	left:0px;
	top:0px;
	background-color:#000;
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:8;
}

#full-screen-media-viewer-item {
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	background-color:#000;
	overflow:hidden;
	width:100%;
	height:100%;
}






/**
ANIMATION LAYER
//_______________________________________________________
*/
#animationLayer {
	z-index:9;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
#animationLayer .animationTile {
	display:block;
	position:absolute;
}

#animationLayer .backingTile{
	display:block;
	position:absolute;
	background-color:#000;
}


